@inherits LayoutComponentBase
@using Microsoft.JSInterop
@inject IJSRuntime _js

<div class="container">
    
    @Body
   

  </div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await _js.InvokeVoidAsync("addClassToBody");
    }
}
