@using SmartUI.Forms
@inherits BaseComponent

<div class="tab-pane p-3 fade @(ParentTapControl.ActiveTab == this ? "active show" : "")" role="tabpanel"
     aria-labelledby="custom-tabs-four-@Title-tab">
     @ChildContent
</div>