@page "/change-password"

@inject NavigationManager _navigationManager

<div class="row justify-content-center p-5">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 w-75 mx-auto  shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
                            </div>
                            @*@if (showErrors)
                            {
                                <div class="alert alert-danger" role="alert">
                                    <p>@error</p>
                                </div>
                            }*@
                            <EditForm Model="changePasswordViewModel" OnValidSubmit="ChangePassword" class="user">
                                <FluentValidator />
                                <div class="form-group">
                                    <InputText type="password" id="old-password" class="form-control form-control-user" @bind-Value="changePasswordViewModel.OldPassword" placeholder="Old Password" />
                                    <ValidationMessage For="@(() => changePasswordViewModel.OldPassword)" />
                                </div>
                                <div class="form-group">
                                    <InputText type="password" id="new-password" class="form-control form-control-user" @bind-Value="changePasswordViewModel.NewPassword" placeholder="New Password" />
                                    <ValidationMessage For="@(() => changePasswordViewModel.NewPassword)" />
                                </div>
                                <div class="form-group">
                                    <InputText type="password" id="confirm-new-password" class="form-control form-control-user" @bind-Value="changePasswordViewModel.ConfirmNewPassword" placeholder="Confirm New Password" />
                                    <ValidationMessage For="@(() => changePasswordViewModel.ConfirmNewPassword)" />
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Change Password</button>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
