@page "/faculties"

@attribute [Authorize(Roles = "Admin")]
<PageTitle>All Faculties</PageTitle>

<div class="card card-custom">
    <div class="card-body">
        <a href="/faculties/add" class="btn btn-primary mb-2">
            Add
            <span class="oi oi-plus"></span>
        </a>
        @if (dataLoaded)
        {
            <SmartGrid TSource="FacultyViewModel" CssClass="table-hover table-striped" DataSource="faculties" AllowPagination="true" AllowSorting="true">
                <PaginationSettings PageSize="20" PageSizes="new List<int>{ 10, 20, 30, 40, 50, 100, 500, 1000}" />
                <GridColumns>
                    <GridColumn PropertyName="@nameof(FacultyViewModel.DisplayOrder)" Title="#" />
                    <GridColumn PropertyName="@nameof(FacultyViewModel.Name)" />
                    <GridColumn PropertyName="@nameof(FacultyViewModel.NameSecondLanguage)" Title="Name Second Language" />
                    <GridColumn Title="Operations" AllowSorting="false">
                        <RowTemplate>
                            <div class="d-flex justify-content-around">
                                <a href="/faculties/edit/@(((FacultyViewModel)context).Id)" title="Edit"><span class="oi oi-pencil"></span></a>
                                <a href="/faculties/details/@(((FacultyViewModel)context).Id)" title="Details"><span class="oi oi-info" aria-hidden="true"></span></a>
                                <a href="/faculties/delete/@(((FacultyViewModel)context).Id)" title="Delete"><span class="oi oi-trash" aria-hidden="true"></span></a>
                            </div>
                        </RowTemplate>
                    </GridColumn>
                </GridColumns>
            </SmartGrid>
        }
    </div>
</div>