@page "/instructions"
@using UniversityHostel.SharedClient.Components

<TabControl>
    <TabPage Title="سعر بيع المظروف">
        <ol dir="rtl" class="text-right">
            <li> سعر بيع المظروف 200 جنية للطلبة و الطالبات (قدامى و مستجدين)، ويتم شراء المظروف إلكترونيً</li>
            <li> يتم رفع المظاريف بعد الانتهاء من اكمال البيانات المطلوبة واستيفاء كافة الشروط</li>
        </ol>
    </TabPage>
    <TabPage Title="شروط التقديم">
        <ol dir="rtl" class="text-right">
            <li>يسحب ملف التقدم للمدن من الموقع عن طريق طباعة مجموعة من الأوراق المطلوبة ولن يقبل اي ملف مستوفي بياناتة إلا بعد إستيفاء طلب الإلتحاق علي الإنترنت وإحضار ما يثبت ذلك مطبوعاً</li>
            <li>ان يكون الطالب مقيدا منتظما باحدى كليات الجامعة في أقسام الليسانس أو البكالوريوس وألا يكون الطالب من سكان مدينة طنطا او المراكز القريبة منها</li>
            <li>ألا يكون الطالب قد تم إخلائة بالمدينة الجامعية في العام السابق إخلاء إداري خاص بالطلاب القدامى</li>
            <li>الا يكون قد صدر ضده أى عقوبات تأدبية أو حرمان من الإقامة بالمدن في العام السابق</li>
            <li>أن يكون الطالب حاصل علي تقدير عام جيد علي الأقل وأولوية القبول للتقدير الأعلي</li>
            <li>بالنسبة للحالات الاجتماعية يقتصر علي فاقد عائل الأسرة بصورة شهادة الوفاة.</li>
            <li>تقتصر الحالات المرضية علي (شلل الاطفال – كفيف – مركز المكفوفين).</li>
            <li>يتم الكشف الطبي علي الطلاب (قدامى ومستجدين) بمعرفة اللجنة الطبية بالإدارة الطبية بسبرباي.</li>
            <li>-يقوم الطالب بطباعة بيان يتم ملؤه بمعرفة مكتب شئون الطلاب في الكلية التابع لها</li>
            <li>يتم رفع الطلبات عبر الموقع الإلكتروني ولن يلتفت للطلبات التي ترد بعد الميعاد</li>
            <li>يتم التسكين للمناطق النائية مثل اسوان الأقصر سوهاج فالأقرب فالأقرب.</li>
        </ol>
    </TabPage>
    <TabPage Title="الملفات المرفقه">
        <ol dir="rtl" class="text-right">
            <li>يتم تنزيل الملفات المرفقه ثم يتم طباعتها و ملأها من الجهة المخصصه لها .</li>
            <li>يتم رفع الملفات ضمن ملف التقديم .</li>
            <li>يجب التأكد من صحه البيانات الموجوده في المرفقات قبل الرفع.</li>

        </ol>
    </TabPage>
</TabControl>