@page "/applications"

@attribute [Authorize]
<PageTitle>All Applications</PageTitle>

<a href="/applications/add" class="btn btn-primary">
    Add
    <span class="oi oi-plus"></span>
</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @if(dataLoaded)
        {
            @if (applications is not null && applications.Any())
            {
                foreach (var application in applications)
                {
                    <tr>
                        <td>@application.DisplayOrder</td>
                        <td>@application.Id</td>
                        <td class="d-flex justify-content-around">
                            <a href="/applications/edit/@application.Id" title="Edit"><span class="oi oi-pencil"></span></a>
                            <a href="/applications/details/@application.Id" title="Details"><span class="oi oi-info" aria-hidden="true"></span></a>
                            <a href="/applications/delete/@application.Id" title="Delete"><span class="oi oi-trash" aria-hidden="true"></span></a>
                        </td>
                </tr>
                }
            }
            else
            {
                <tr><td colspan="4"><h4>No Data Founded</h4></td></tr>
            }
        }
        else
        {
            <tr><td colspan="4"><h4>Loading..</h4></td></tr>
        }
    </tbody>
</table>

@code {

}
