<ul class="nav nav-tabs bg-light" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Payment" role="tab" aria-controls="home"
                    aria-selected="true">Payment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Basic_information" role="tab" aria-controls="profile"
                    aria-selected="false">Basic_information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Documents" role="tab" aria-controls="contact"
                    aria-selected="false">Documents</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Payment" role="tabpanel" aria-labelledby="Payment-tap">
                <br>
                <br>
                <br>
                <br>
                <div class="container bg-light">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Pay Now</h1>
                                    </div>
                                    <form class="pay">
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mb-2 " >
                                                <label>Card Number</label>
                                                <i class="fa fa-asterisk text-danger"></i>
                                                <input type="id" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter the 16-digit card number on the card">
                                            </div>
                                        </div>
                                        </br> </br>
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mb-2 " >
                                                <label>CVV Number</label>
                                                <i class="fa fa-asterisk text-danger"></i>
                                                <input type="id" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter the 3 or 4 digit on the card">
                                            </div>
                                        </div>
                                        </br> </br>
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mb-2 " >
                                                <label>Expiry Date</label>
                                                <i class="fa fa-asterisk text-danger"></i>
                                                <input type="id" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter the expiration date of the card">
                                            </div>
                                        </div>
                                        </br> </br>
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mb-2 " >
                                                <label>Password</label>
                                                <i class="fa fa-asterisk text-danger"></i>
                                                <input type="id" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter your Dynamic password">
                                            </div>
                                        </div>
                                        </br>
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mb-2 " >
                                                <button type="button" class="btn btn-primary">Pay Now</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Basic_information" role="tabpanel" aria-labelledby="Basic_information-tap">
                <br>
                <br>
                <div class="container bg-light">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Basic Information</h1>
                                    </div>
                                    <form class="basic information">
                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>ID Number</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Student Code</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Full Name</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Birth Date</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Place Of Birth</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Gender</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Religion</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Residence</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Full address</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Email</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Phone number</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Father's Name</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Father's ID</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Father's Job</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Father's Phone Number</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-group col-md-6 mb-2 " > 
                                                <label>Guardian's Name</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="text" class="form-control" > 
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12 mb-2 " > 
                                                    <button type="button" class="btn btn-primary">Next</button> 
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <!-- Start Document Tap --> 
            <div class="tab-pane fade" id="Documents" role="tabpanel" aria-labelledby="Documents-tab">
                <br>
                <br>
                <br>
                <br>
                <div class="container bg-light">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body --> 
                        <div class="row">
                            <div class="col-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Enter Your Documents</h1>
                                    </div>
                                    <form class="pay">
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mb-2 " > 
                                                <label>Document1</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="file" class="form-control" id="customFile" /> 
                                            </div>
                                        </div>
                                        </br> </br> 
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mb-2 " > 
                                                <label>Document2</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="file" class="form-control" id="customFile" /> 
                                            </div>
                                        </div>
                                        </br> </br> 
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mb-2 " > 
                                                <label>Document3</label> 
                                                <i class="fa fa-asterisk text-danger"></i> 
                                                <input type="file" class="form-control" id="customFile" /> 
                                            </div>
                                        </div>
                                        </br> 
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mb-2 " > 
                                                <button type="button" class="btn btn-primary">Submit</button> 
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Document Tap -->
        </div>
        </div>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="js/studentapplication.js"></script>  