@page "/Applications"

@if (!dataLoaded)
{
    <Spinner Show="true" />
}
else
{
    <div class="card card-custom">
        <div class="card-body">
            <h3>You have pending application submetted at @applicationViewModel?.CreationDate.ToLongDateString(), Please wait for result</h3>
        </div>
    </div>
}

@code {

    ApplicationViewModel applicationViewModel;
    private bool dataLoaded;

    protected override async Task OnInitializedAsync()
    {
        applicationViewModel = await _applicationHttpService.GetByIdAsync($"/api/applications/GetPendingApplication");
        dataLoaded = true;
    }
}