<div class="row">
                        <div class="col-12">
                            <div class="p-5">
                                @*<div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Basic Information</h1>
                                </div>*@
                                <form class="basic information">

                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>ID Number</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Student Code</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Full Name</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Birth Date</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Place Of Birth</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Gender</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Religion</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Residence</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Full address</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Email</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Phone number</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Father's Name</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">

                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Father's ID</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Father's Job</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Father's Phone Number</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-2 ">
                                            <label>Guardian's Name</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12 mb-2 ">
                                            <button type="button" class="btn btn-primary">Next</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>