@using Documents.Shared.ViewModels
@using Newtonsoft.Json
@using System 
@using System.IO

<div class="row">
    <div class="col-12">
        <div class="p-5">
            <div class="form-row">
                <div class="form-group col-md-12 mb-2 ">
                    <label>Birth Certificate</label>
                    <span class="text-danger">*</span>
                    <InputFile class="form-control" OnChange="async e => await LoadFile(e, ApplicationDocuments.Document1.Document)" />
                </div>
            </div>

            <br> <br>

            <div class="form-row">
                <div class="form-group col-md-12 mb-2 ">
                    <label>Social Security</label>
                    <span class="text-danger">*</span>
                    <InputFile class="form-control" OnChange="async e => await LoadFile(e, ApplicationDocuments.Document2.Document)" />
                </div>
            </div>

            <br> <br>

            <div class="form-row">
                <div class="form-group col-md-12 mb-2 ">
                    <label>Document3</label>
                    <span class="text-danger">*</span>
                    <InputFile class="form-control" OnChange="async e => await LoadFile(e, ApplicationDocuments.Document3.Document)" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ApplicationDocumentsViewModel ApplicationDocuments { get; set; }

    private long maxFileSize = 1024 * 1024 * 15;

    private async Task LoadFile(InputFileChangeEventArgs e, DocumentViewModel document)
    {
        var ms = new MemoryStream();
        await e.File.OpenReadStream(maxAllowedSize: maxFileSize).CopyToAsync(ms);

        byte[] array = ms.ToArray();

        document.Name = e.File.Name;
        document.Extension = e.File.Name.Split('.').LastOrDefault();
        document.Size = e.File.Size;
        document.Type = e.File.ContentType;
        document.Content = array;
    }
}