<div class="row">
    <div class="col-12">
        <div class="p-5">
            
            <form class="pay">
                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Birth Certificate</label>
                        <span class="text-danger">*</span>
                        <InputFile class="form-control" />
                    </div>
                </div>
               
                <br> <br>
                
                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Social Security</label>
                        <span class="text-danger">*</span>
                        <InputFile class="form-control" />
                    </div>
                </div>

                <br> <br>

                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Document3</label>
                        <span class="text-danger">*</span>
                        <InputFile class="form-control" />
                    </div>
                </div>
                
                <br>
                
                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <button type="button" class="btn btn-primary">Submit-x</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>