<div class="row">
    <div class="col-12">
        <div class="p-5">
            @*<div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Enter Your Documents</h1>
                </div>*@

            <form class="pay">
                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Document1</label>
                        <span class="text-danger">*</span>
                        <input type="file" class="form-control" id="customFile" />
                    </div>
                </div>
                <br> <br>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Document2</label>
                        <span class="text-danger">*</span>
                        <input type="file" class="form-control" id="customFile" />
                    </div>
                </div>

                <br> <br>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Document3</label>
                        <span class="text-danger">*</span>
                        <input type="file" class="form-control" id="customFile" />
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>