@using Documents.Shared.ViewModels
@using Newtonsoft.Json
@using System
@using System.IO

<div class="row">
    <div class="col-12">
        <div class="p-3">

            @for (int i = 0; i <= documentTypes.Count - 1; i++)
            {
                int index = i;
                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>@documentTypes[index]</label>
                        <span class="text-danger">*</span>
                        <InputFile class="form-control" OnChange="async e => await LoadFile(e, ApplicationViewModel.Documents[index].Document)" />
                    </div>
                </div>

                <br> <br>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ApplicationViewModel ApplicationViewModel { get; set; }

    private List<ApplicationDocumentType> documentTypes = ((ApplicationDocumentType[])Enum.GetValues(typeof(ApplicationDocumentType))).ToList();

    private long maxFileSize = 1024 * 1024 * 15;

    private async Task LoadFile(InputFileChangeEventArgs e, DocumentViewModel document)
    {
        var ms = new MemoryStream();
        await e.File.OpenReadStream(maxAllowedSize: maxFileSize).CopyToAsync(ms);

        byte[] array = ms.ToArray();

        document.Name = e.File.Name;
        document.Extension = e.File.Name.Split('.').LastOrDefault();
        document.Size = e.File.Size;
        document.Type = e.File.ContentType;
        document.Content = array;
    }
}