<div class="row">
    <div class="col-12">
        <div class="p-5">

            <form class="payment_receipt">
                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Service Order Number :</label>

                    </div>
                </div>
                <br>

                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Payment Process Code : </label>
                    </div>
                </div>

                <br>

                <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Creation Date :</label>
                    </div>
                </div>
                <br>
                  <div class="form-row">
                    <div class="form-group col-md-12 mb-2 ">
                        <label>Service Price: </label>
                    </div>
                </div>
                <br>


            </form>

        </div>
    </div>
</div>

@code {

}