@page "/applicationSettings"

@attribute [Authorize(Roles = "Admin")]
<PageTitle>ApplicationSettings</PageTitle>

<FormBaseComponent TViewModel="ApplicationSettingViewModel" ViewModel="ApplicationSettingViewModel" SystemFeature="SystemFeatureType.Edit" FormTitle="@($"{SystemFeatureType.Edit.ToString()} ApplicationSetting")"
                   HandleValidSubmit="HandleValidSubmit" OnCancel="@(() => _navigationManager.NavigateTo("/applicationSettings"))">
    <div class="form-group col-md-6">
        <label for="name">
            PhaseEndTime
            <span class="text-danger">*</span>
        </label>
        <InputDate class="form-control" @bind-Value="ApplicationSettingViewModel.PhaseEndTime" />
        <ValidationMessage For="@(() => ApplicationSettingViewModel.PhaseEndTime)" />
    </div>
    <div class="form-group col-md-6">
        <label for="name">
            IsRegistrationEnabled
            <span class="text-danger">*</span>
        </label>
        <input class="form-check-input" type="checkbox" @bind-value="ApplicationSettingViewModel.IsRegistrationEnabled" />
        <ValidationMessage For="@(() => ApplicationSettingViewModel.IsRegistrationEnabled)" />
    </div>
</FormBaseComponent>